*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container{
    background-color: #120323;
    text-align: center;
    color: #97bf04;
    padding: 15px;
    
}

figure {
    display: flex;
    flex-direction: column;
}
 figure img{
    border: 5px solid #d9043d;
    max-width:100%;
    height: auto;
    
}
 figcaption h2 {
    color: #120323;
    margin-top: 10px;
}

main figure figcaption p {
    margin-top: 10px;

}

aside{
    background-color: #97bf04;
    padding: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: #d9043d;
    text-align: center;
    padding: 25px;
    color: white;
}

/*MEDIA QUERIES*/

    
/*logo and company name on same line 
puffin image no wider than 300px
image and caption next to each other using flexbox

devices less than 1000px wide*/
@media screen and (min-width: 768px) {
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    figure { 
        flex-direction: row;
        gap: 20px;
    }
    figure img { 
        max-width: 300px;
        max-height: 300px;
    }

}
@media screen and (min-width: 1000px) {
    #container {
        display: flex;
        margin-top: 5px;
    }
    main{
        flex:3;
    }
    aside {
        flex:1;
    }
}