*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*img and h1*/
.header-container{
    background-color: #120323;
    text-align: center;
    color: #97bf04;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

#container {
    display: flex;
    flex-direction: column;
}
main {
    padding: 20px;
}

main figure  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 15px;

}

main figure img{
    border: 5px solid #d9043d;
    max-width: 100%;
    height: auto;


}

main figure figcaption h2 {
    color: #120323;
    margin-top: 10px;
}

main figure figcaption p {
    margin-top: 10px;

}

aside{
    background-color: #97bf04;
    padding: 10px;
}

footer{
    background-color: #d9043d;
    text-align: center;
    padding: 25px;
    color: white;
}

/*MEDIA QUERIES*/
/* 3 column layout with sidebar on the right

for devices 1000px wide or greater*/
@media screen and (min-width:1000px) {
    .header-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    #container {
        display: flex;
        flex-direction: row;
        margin: 2rem 0 2rem;
        align-items: center;
    }
     main {
        flex: 4;
     }
     main figure {
        flex-direction: row;
        display: flex;
        gap: 10px;
     }
     main figure img {
        width: 350px;
     }

     /*sidebar on right*/
     aside {
        flex:1;
        padding: 15px 10px;
     }

     footer {
        margin-top: 15px;
        width: 100%;
      
        
     }



}

/*logo and company name on same line 
puffin image no wider than 300px
image and caption next to each other using flexbox

devices less than 1000px wide*/
@media screen and (max-width: 999px) {
    .header-container{
        flex-direction: row;
        justify-content: center;
    }
     main figure{
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;

    }
    main figure img {
        width:300px;
        
    }

    aside {
        margin-top: 15px;
        width: 100%;
    }
    footer {
        margin-top:15px;
        margin-bottom:15px;
        width:100%
    }


    

}

/*logo and company name on separate lines
content in one column
puffin image centered horizontally and 1005 width is taken

devices less than 768px wide */
@media screen and (max-width: 767px) {

}